$mycolor: #344563;
$iconcolor: #505f79;


@import "../node_modules/bootstrap/scss/bootstrap.scss";



body {
  padding-left: 10%;
  padding-right: 10%;
  background-color: #f4f5f7;
}

.nav-item {
  a {color: $mycolor;}
}

h1 {
  font-size: 48px;
}
.content {
  padding-left: 10%;
  background: url(/assets/image/Headerbg.png);
  background-size: cover;
  background-repeat: repeat;
  height: 100vh;
  
  
}

.contact-link {
  text-decoration: none;
}

.list-group {
  
  li {
    color: $iconcolor;
    border: none;
    padding-left: 0;
  }
}
.d-flex {
  padding-top: 100px;
  width: 80%;

}